<div>
  Count: <%= @count %>
</div>

<div>
  <button type="button" phx-click="increment" class="bg-indigo-600 px-2 py-1 text-sm text-white">+</button>

  <button type="button" phx-click="decrement" class="bg-indigo-600 px-2 py-1 text-sm text-white">-</button>
</div>
